
.gradient-background {
  background: linear-gradient(300deg, #617387, #3c4462, #8d9cbb);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.card-link {
  display: block; /* Ensures the link covers the entire card */
  color: inherit; /* Removes default link color */
  text-decoration: none; /* Removes default underline */
}


.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.img-fluid {
  border-radius: 10%;
}

.btn {
  margin: 1rem;
  align-self: center;
}

.title {
  font-family: cursive;
}

